@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --color-primary: 255, 255, 255;
}

@font-face {
  font-family: "Favorit_Regular";
  src: url(/public/fonts/Favorit_Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Favorit_Light";
  src: url(/public/fonts/Favorit_Light.ttf);
  font-weight: light;
  font-style: light;
}

input {
  cursor: pointer;
}

body {
  text-transform: uppercase;
  font-family: "Favorit_Regular";

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
