@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --color-primary: 255, 255, 255;
}

input {
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1px; /* Adjust the width of the thumb */
  height: 8px;
  background: #c3c8cd;
  border-radius: 0;
  cursor: pointer;
  box-shadow: -407px 0 0 407px #c3c8cd;
}

body {
  text-transform: uppercase;
  font-family: "Favorit_Regular";
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-orientation-upright {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.dropdown_menu {
  position: absolute;
  perspective: 1000px;
  display: none;
}

.dropdown:hover .dropdown_menu--animated {
  display: block;
}

.dropdown_menu-6 {
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes moveLines {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-moveLines {
  animation-name: moveLines;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* Define animation delays */
.delay-500 {
  animation-delay: 0.5s;
}

.delay-1000 {
  animation-delay: 1s;
}
